<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
      body {
        background-color: #333;
        color: #fff;
      }
      .container {
        max-width: 700px;
      }
      a.btn-primary {
        background-color: #17458c;
      }
    </style>
    <title>Notes App - Home</title>
  </head>
  <body>
    <div class="container mt-5">
      <h1 class="text-center mb-5">Note Taking App</h1>
      <p class="text-center mb-5">Welcome to the Note Taking App, where you can easily save and manage your notes.</p>
      <div class="row">
        <div class="col-md-8 offset-md-2">
          <a href="/notes" class="btn btn-primary btn-block">Start Taking Notes</a>
        </div>
      </div>
    </div>
  </body>
</html>
